<%- include('partials/header', {cartItemCount: cartItems.length}) %>

<section id="hero">
  <h4>Trade-in-offer</h4>
  <h2>Super value deals</h2>
  <h1>On all products</h1>
  <a href="/shop">Shop Now</a>
</section>

<section class="product1 section-p1">
  <h2>Featured Products</h2>
  <p>Summer Collection New Mordern Design</p>
  <div class="pro-container">
    <% featured.forEach(product => { %>
    <div class="pro">
      <a href="/shop/product/<%= product._id %>">
      <img src="<%= product.image %>">
      <div class="des">
        <span><%= product.brand %></span>
        <h5><%= product.name %></h5>
        <h4>$<%= product.price %></h4>
      </div>
    </a>
      <% 
        const cartItem = cartItems.find(item => item.productId._id.toString() === product._id.toString());
        if (cartItem) { 
      %>
      <form action="/cart/decrease" method="post" style="display: inline">
            <input type="hidden" name="userId" value="<%= userId %>" />
            <input
              type="hidden"
              name="productId"
              value="<%= cartItem.productId._id %>"
            />
            <button type="submit" class="btn" style="padding: 0 6px;">
              <i class="fa-solid fa-minus fa-xs"></i>
            </button>
          </form>
          <%= cartItem.quantity %>
          <form action="/cart/increase" method="post" style="display: inline">
            <input type="hidden" name="userId" value="<%= userId %>" />
            <input
              type="hidden"
              name="productId"
              value="<%= cartItem.productId._id %>"
            />
            <button type="submit" class="btn" style="padding: 0 6px;">
              <i class="fa-solid fa-plus fa-xs"></i>
            </button>
          </form>
          <% } else { %>
      <form class="add-to-cart-form" action="/cart" method="post">
        <input type="hidden" name="productId" value="<%= product._id %>" />
        <button type="submit" class="btn normal">
          Add to Cart
        </button>
      </form>
      <% } %>
    </div>
    <% }) %>
  </div>
</section>

<section id="banner" class="section-m1">
  <h2>Upto <span>70% Off</span> - All t-Shirts & Accessories</h2>
</section>

<section class="product1 section-p1">
  <h2>New Arrivals</h2>
  <p>Summer Collection New Mordern Design</p>
  <div class="pro-container">
    <% newprod.forEach(product => { %>
    <div class="pro">
      <a href="/shop/product/<%= product._id %>">
      <img src="<%= product.image %>">
      <div class="des">
        <span><%= product.brand %></span>
        <h5><%= product.name %></h5>
        <h4>$<%= product.price %></h4>
      </div>
    </a>
      <% 
        const cartItem = cartItems.find(item => item.productId._id.toString() === product._id.toString());
        if (cartItem) { 
      %>
      <form action="/cart/decrease" method="post" style="display: inline">
            <input type="hidden" name="userId" value="<%= userId %>" />
            <input
              type="hidden"
              name="productId"
              value="<%= cartItem.productId._id %>"
            />
            <button type="submit" class="btn" style="padding: 0 6px;">
              <i class="fa-solid fa-minus fa-xs"></i>
            </button>
          </form>
          <%= cartItem.quantity %>
          <form action="/cart/increase" method="post" style="display: inline">
            <input type="hidden" name="userId" value="<%= userId %>" />
            <input
              type="hidden"
              name="productId"
              value="<%= cartItem.productId._id %>"
            />
            <button type="submit" class="btn" style="padding: 0 6px;">
              <i class="fa-solid fa-plus fa-xs"></i>
            </button>
          </form>
          <% } else { %>
      <form class="add-to-cart-form" action="/cart" method="post">
        <input type="hidden" name="productId" value="<%= product._id %>" />
        <button type="submit" class="btn normal">
          Add to Cart
        </button>
      </form>
      <% } %>
    </div>
    <% }) %>
  </div>
</section>

<section id="banner2">
  <div class="banner-box">
    <a href="/shop"><h2>Seasonal Sale</h2></a>
    <h3>Winter Collection -50% OFF</h3>
  </div>
  <div class="banner-box banner-box2">
    <%const d = new Date();%>
    <%let year = d.getFullYear();%>
    <a href="/shop"><h2>New Footwear Collection</h2></a>
    <h3>Spring/Summer <%= year %></h3>
  </div>
  <div class="banner-box banner-box3">
    <a href="/shop"><h2>T-shirts</h2></a>
    <h3>New trendy prints</h3>
  </div>
</section>


  <%- include('partials/footer') %>