<%- include('partials/header') %>
<div id="carouselExampleIndicators" class="carousel slide" style="max-width: 100vw;">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner" style="height: 90vh; max-width: 100%;">
    <div class="carousel-item active">
      <img src="https://images.unsplash.com/photo-1483985988355-763728e1935b?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="d-block w-100" alt="..." style="max-width: 100%; height: 100%; object-fit: cover;">
    </div>
    <div class="carousel-item">
      <img src="https://img.freepik.com/free-photo/happy-smiling-fashionable-woman-carrying-shopping-bags-looking-shopping-promotion-summer-sale_74952-3348.jpg?t=st=1721476809~exp=1721480409~hmac=66a446592c0d9fed2cde60795449e5284bfc6dc5cf44830a27c35747bdc22239&w=1380" class="d-block w-100" alt="..." style="max-width: 100%; height: 100%; object-fit: cover;">
    </div>
    <div class="carousel-item">
      <img src="https://img.freepik.com/free-photo/excited-girl-scream-joy-making-fist-pump-holding-shopping-bag-rejoicing-standing-dress-ove_1258-121722.jpg?t=st=1721544259~exp=1721547859~hmac=24007d3fbaef32fec737a8086f8f1315a08e09fc18afe6e74253c67f0238bcd2&w=1380" class="d-block w-100" alt="..." style="max-width: 100%; height: 100%; object-fit: cover;">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<section class="product1 section-p1">
  <h2>Featured Products</h2>
  <p>Summer Collection New Mordern Design</p>
  <div class="pro-container">
    <% featured.forEach(product => { %>
    <div class="pro">
      <img src="<%= product.image %>">
      <div class="des">
        <span><%= product.brand %></span>
        <h5><%= product.name %></h5>
        <h4>$<%= product.price %></h4>
      </div>
      <form class="add-to-cart-form" action="/cart" method="post">
        <input type="hidden" name="productId" value="<%= product._id %>">
        <button type="submit" class="btn normal">Add to Cart</button>
      </form>
    </div>
    <% }) %>
  </div>
</section>

<section id="banner" class="section-m1">
  <h2>Upto <span>70% Off</span> - All t-Shirts & Accessories</h2>
</section>

<section class="product1 section-p1">
  <h2>New Arrivals</h2>
  <p>Summer Collection New Mordern Design</p>
  <div class="pro-container">
    <% newprod.forEach(product => { %>
    <div class="pro">
      <img src="<%= product.image %>">
      <div class="des">
        <span><%= product.brand %></span>
        <h5><%= product.name %></h5>
        <h4>$<%= product.price %></h4>
      </div>
      <form class="add-to-cart-form" action="/cart" method="post">
        <input type="hidden" name="productId" value="<%= product._id %>">
        <button type="submit" class="btn normal">Add to Cart</button>
      </form>
    </div>
    <% }) %>
  </div>
</section>

<section id="banner2">
  <div class="banner-box">
    <a href="/shop"><h2>Seasonal Sale</h2></a>
    <h3>Winter Collection -50% OFF</h3>
  </div>
  <div class="banner-box banner-box2">
    <%const d = new Date();%>
    <%let year = d.getFullYear();%>
    <a href="/shop"><h2>New Footwear Collection</h2></a>
    <h3>Spring/Summer <%= year %></h3>
  </div>
  <div class="banner-box banner-box3">
    <a href="/shop"><h2>T-shirts</h2></a>
    <h3>New trendy prints</h3>
  </div>
</section>


  <%- include('partials/footer') %>