<%- include('partials/header', {cartItemCount: cartItems.length}) %>

<section id="prodetails" class="section-p1">
    <div class="single-pro-image">
        <img src="<%= product.image %>" alt="">
    </div>
    <div class="single-pro-details">
        <h6><%= product.domain %></h6>
        <h6><%= product.name %></h6>
        <h6><%= product.brand %></h6>
        <h2>$<%= product.price %></h2>
        <% 
        const cartItem = cartItems.find(item => item.productId._id.toString() === product._id.toString());
        if (cartItem) { 
      %>
        <form action="/cart/decrease" method="post" style="display: inline">
            <input type="hidden" name="userId" value="<%= userId %>" />
            <input
              type="hidden"
              name="productId"
              value="<%= product._id %>"
            />
            <h6>Quantity:</h6>
            <button type="submit" class="btn" style="padding: 0 6px;">
              <i class="fa-solid fa-minus fa-xs"></i>
            </button>
          </form>
          <%= cartItem.quantity %>
          <form action="/cart/increase" method="post" style="display: inline">
            <input type="hidden" name="userId" value="<%= userId %>" />
            <input
              type="hidden"
              name="productId"
              value="<%= product._id %>"
            />
            <button type="submit" class="btn" style="padding: 0 6px;">
              <i class="fa-solid fa-plus fa-xs"></i>
            </button>
          </form>
          <% } else { %>
          <form class="add-to-cart-form" action="/cart" method="post">
            <input type="hidden" name="productId" value="<%= product._id %>" />
            <button type="submit" class="btn normal">
              Add to Cart
            </button>
          </form>
          <% } %>
          <h6>Stock Left: <%= product.stock %></h6>
          <h4>Product Details</h4>
          <span><%= product.description %></span>
          <form action="/shop">
    <button id="viewAll" type="submit" class="btn abnormal">
      <i class="fa-solid fa-arrow-left fa-xs"></i> Go Back 
    </button>
  </form>
    </div>
</section>

<%- include('partials/footer') %>