<%- include('partials/header', {cartItemCount: cartItems.length}) %>

<section id="page-header" class="shop-header">
  <h2>#stayhome</h2>
  <p>Save more with coupons and upto 70% off!</p>
</section>

<% if (isCategoryPage) { %>
  <section class="section-p1">
    <form class="filter" action="/shop/<%= category %>" method="get">
      <div class="sort">
      <label for="brands">Filter by Brands:</label>
      <div id="brands">
        <% brands.forEach(brand => { %>
        <div class="brand-checkbox form-check">
          <input class="form-check-input" type="checkbox" name="brands" value="<%= brand %>"
            <%= selectedBrands.includes(brand) ? 'checked' : '' %> />
          <label class="form-check-label" for="<%= brand %>"><%= brand %></label>
        </div>
        <% }) %>
      </div>
    </div>
      <div class="sort">
        <label>Sort By Price:</label>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" name="asc" value="asc" <% if(sorting==='asc') {%>checked<%} %>>
        <label class="form-check-label" for="flexSwitchCheckDefault">Sort by price (lowest to highest)</label>
      </div>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" name="des" value="des" <% if(sorting==='des') {%>checked<%} %>>
        <label class="form-check-label" for="flexSwitchCheckDefault">Sort by price (lowest to highest)</label>
      </div>
    </div> 
      <button type="submit" class="btn normal">Apply</button>
      <a href="/shop/<%= category %>" class="btn abnormal">Clear</a>
    </form>
  </section>
  <% } %>

<% for (const categoryName in categories) { %> 
<% const categoryItems = categories[categoryName]; %>
<section class="product1 section-p1">
  <h2><%= categoryName %></h2>
  <p>Summer Collection New Modern Design</p>
  <div class="pro-container">
    <% categoryItems.forEach(product => { %>
    <div class="pro">
      <a href="/shop/product/<%= product._id %>">
      <img src="<%= product.image %>" />
      <div class="des">
        <span><%= product.brand %></span>
        <h5><%= product.name %></h5>
        <h4>$<%= product.price %></h4>
      </div>
    </a>
      <% 
        const cartItem = cartItems.find(item => item.productId._id.toString() === product._id.toString());
        if (cartItem) { 
      %>
      <form action="/cart/decrease" method="post" style="display: inline">
            <input type="hidden" name="userId" value="<%= userId %>" />
            <input
              type="hidden"
              name="productId"
              value="<%= cartItem.productId._id %>"
            />
            <button type="submit" class="btn" style="padding: 0 6px;">
              <i class="fa-solid fa-minus fa-xs"></i>
            </button>
          </form>
          <%= cartItem.quantity %>
          <form action="/cart/increase" method="post" style="display: inline">
            <input type="hidden" name="userId" value="<%= userId %>" />
            <input
              type="hidden"
              name="productId"
              value="<%= cartItem.productId._id %>"
            />
            <button type="submit" class="btn" style="padding: 0 6px;">
              <i class="fa-solid fa-plus fa-xs"></i>
            </button>
          </form>
          <% } else { %>
      <form class="add-to-cart-form" action="/cart" method="post">
        <input type="hidden" name="productId" value="<%= product._id %>" />
        <button type="submit" class="btn normal">
          Add to Cart
        </button>
      </form>
      <% } %>
    </div>
    <% }) %>
  </div>
  <% if(isCategoryPage) {%>
  <form action="/shop">
    <button id="viewAll" type="submit" class="btn abnormal">
      <i class="fa-solid fa-arrow-left fa-xs"></i> Go Back 
    </button>
  </form>
  <% } else{ %>
  <form action="/shop/<%= categoryName %>">
    <button id="viewAll" type="submit" class="btn abnormal">
      View All <i class="fa-solid fa-arrow-right fa-xs"></i>
    </button>
  </form>
  <% } %>
</section>
<% } %> <%- include('partials/footer') %>
